.Paper {
  width: 350px;
  max-height: 500px;
  overflow: auto;
  margin: 20px;
  padding: 10px;
  background-color: "#330033";
  color: white;
}

.PaperSummary {
  height: auto;
  width: 350px;
  margin: 20px;
  padding: 10px;
  background-color: #330033;
  color: white;
}

.PaperRight {
  width: 350px;
  height: 770px;
  overflow: auto;
  padding: 20px;
  margin: 20px;
  background-color: #330033;
  color: white;
}

.ListStyle {
  border-bottom: 1px solid white;
  list-style-type: none;
  color: white;
  padding: 10px 0;
  margin: auto;
}

.ListStyle :hover {
  background-color: #330033;
  cursor: pointer;
}
